@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.contactsBlock {
  min-height: 100vh;
  background-color: $bgColor;

  /*.photo {
    @include photo(cover, 100%, 0.2);
    filter: grayscale(100%) brightness(20%);
  }*/

  .contactsContainer {
    @include container;
    flex-direction: column;
    //justify-content: flex-start;

    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .input {
        width: 400px;
        @media screen and (max-width: 450px) {
          width: 200px;
        }
        background: none;
        border: 1px solid hsla(0,0%,100%,.2);
        margin-bottom: 10px;
      }

      /*textarea {
        width: 400px;
        @media screen and (max-width: 450px) {
          width: 200px;
        }
        height: 80px;
        background: none;
        border: 1px solid hsla(0,0%,100%,.2);
        font-family: $titleFontFamily;
        resize: none;
        margin-bottom: 10px;
      }*/

      .btn {
        font-family: $textFontFamily;
        color: $mainTextColor;
        font-size: 14px;
        font-weight: 700;
        background: $primaryColor;
        border: none;
        padding: 4px 40px;

        &:hover {
          background: #e11010;
        }

        &:active {
          padding: 4px 38px;
        }
      }
    }
  }
}