@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.contactsBlock {
  min-height: 90vh;
  background-color: $bgColor;
  position: relative;

  .photo {
    background-image: url(../assets/image/letter.png);
    @include photo(0.2);
    filter: grayscale(100%) brightness(20%);
    background-size: cover;
    background-position: right;
  }

  .contactsContainer {
    @include container;
    flex-direction: column;
    text-align: center;

    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      z-index: 1;

      .error {
        margin-top: -10px;
        color: red;
        font-size: small;
      }

      input {
        width: 400px;
        @media screen and (max-width: 450px) {
          width: 250px;
        }
        background: none;
        color: $secondTextColor;
        border: 1px solid hsla(0,0%,100%,.2);
        margin-bottom: 10px;
      }

      textarea {
        width: 400px;
        @media screen and (max-width: 450px) {
          width: 250px;
        }
        height: 80px;
        background: none;
        color: $secondTextColor;
        border: 1px solid hsla(0,0%,100%,.2);
        font-family: $titleFontFamily;
        resize: none;
        margin-bottom: 10px;
      }

      .btn {
        font-family: $textFontFamily;
        color: $mainTextColor;
        font-size: 14px;
        font-weight: 700;
        background: $primaryColor;
        border: none;
        padding: 4px 40px;
        margin-top: 10px;

        &:hover {
          background: #e11010;
        }

        &:active {
          padding: 4px 38px;
        }
      }
    }
  }
}