@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.skill {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

    .circularProgressLabel {
        color: $mainTextColor;
        font-size: 20px;
        margin-top: -18px;
    }

    .skillTitle {
        @include text ($titleFontFamily, 20px, $mainTextColor);
        font-weight: 700;
        margin-bottom: -10px;
    }

    .icon {
        height: 50px;
        width: 50px;
        background-size: cover;
        margin-top: -40px;
    }
}



