@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.myContactsBlock {

  .myContactsContainer {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;

    @media screen and (max-width: 750px) {
      padding-top: 0;
    }

    .contact {
      width: 100%;
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 750px) {
        flex-direction: column;
        padding-bottom: 20px;
      }

      .contactTitle {
        @include text ($titleFontFamily, 16px, $mainTextColor);
        font-weight: 700;
      }

      .contactValue {
        @include text (none, 18px, $secondTextColor);
        font-weight: 400;
        margin-top: 5px;
      }

      img {
        height: 50px;
      }
    }
  }
}

