.title {
    margin-bottom: 15px;
    margin-top: 30px;
}

.title h2 {
    font-family: 'Saira', sans-serif;
    font-size: 34px;
    /*line-height: 42px;*/
    margin: 0;
    color: #fff;
    font-weight: 700;
}

.spaceBorder {
    background: #cf1f1f;
    height: 1px;
    margin: 10px auto 20px;
    position: relative;
    width: 30px;
}

/*псевдоэлемент*/
.spaceBorder::before {
    background: hsla(0, 0%, 100%, .25);
    content: "";
    height: 1px;
    position: absolute;
    width: 30px;
    left: -40px;
}

.spaceBorder::after {
    background: hsla(0, 0%, 100%, .25);
    content: "";
    height: 1px;
    position: absolute;
    width: 30px;
    right: -40px;
}