@import "src/common/styles/sass/mixins";

.skillsBlock {
  min-height: 100vh;
  background-color: $bgColor;
  position: relative;

  .photo {
    background-image: url(../assets/image/skills.png);
    @include photo(0.08);
    filter: grayscale(100%) brightness(20%);
    transform: scale(0.7);
    top: 10%;

    @media screen and (max-width: 650px) {
      background-image: none;
    }
  }

  .skillsContainer {
    @include container;
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}



