@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";

.mainPage {
  border: 1px solid white;
  min-height: 100vh; /*vh - видимая высота экрана*/
  background-color: $bgColor;
  position: relative;

  .photo {
    position: absolute;
    right: 0;
    width: 400px;
    height: 100%;
    opacity: 0.5;
  }

  .mainBlock {
    //@include container;

    .text {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);

      .name {
        @include text ($titleFontFamily, 20px, $primaryColor);
        font-weight: 700;
        margin-bottom: 5px;

        .name_1 {
          color: #fff;
        }
      }

      .profession {
        @include text ($titleFontFamily, 30px, $mainTextColor);
        font-weight: 700;
      }
    }


  }


}



