@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";

.mainPage {
  min-height: 100vh; /*vh - видимая высота экрана*/
  background-color: $bgColor;
  position: relative;

  .photo {
    background-image: url(../assets/image/main_photo.png);
    @include photo(0.5);
    background-position: right;
    filter: grayscale(100%) contrast(120%);
  }

  .mainBlock {
    //@include container;

    .text {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);

      .name {
        @include text ($titleFontFamily, 20px, $primaryColor);
        font-weight: 700;
        margin-bottom: 5px;

        .name_1 {
          color: $mainTextColor;
        }
      }

      .profession {
        @include text ($titleFontFamily, 50px, $mainTextColor);
        font-weight: 700;
        margin-bottom: 15px;
      }

      .locate {
        border-left: 1px solid hsla(0,0%,100%,.25);
        margin-right: 10px;

        .country {
          @include text ($titleFontFamily, 16px, $mainTextColor);
          font-weight: 700;
          margin-left: 10px;
        }

        .city {
          @include text (none, 14px, $secondTextColor);
          margin-left: 10px;
          margin-top: 10px;
        }
      }
    }
  }
}