@import "../../../common/styles/sass/variables";

.button {
  font-family: $textFontFamily;
  color: $mainTextColor;
  font-size: 14px;
  font-weight: 700;
  background: $primaryColor;
  border: none;
  padding: 4px 40px;
  &:hover {
    background: #b42b2b;
  }
  &:active {
    padding: 3px 38px;
  }
}