@import "../../../common/styles/sass/variables";

.button {
  font-family: $textFontFamily;
  color: $mainTextColor;
  font-size: 14px;
  font-weight: 700;
  background: $primaryColor;
  border: none;
  padding: 4px 40px;

  &:hover:after {
    background: #5afc05;
  }

  &:active:after {
    padding: 3px 38px;
  }
}