@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
  width: 350px;
  display: flex;
  flex-direction: column;

  .image {
    height: 200px;
    width: 100%;
    background-color: $secondTextColor;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: grayscale(80%) blur(1px);


    /*псевдоэлемент*/
    &::before {
      position: absolute;
      content: '';
      background-color: $secondTextColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 40%;
    }

    //.button {
    //  position: relative;
    //  margin-top: 95px;
    //  margin-left: 35%;
    //  font-family: $titleFontFamily;
    //}
  }

  .image:hover {
    filter: grayscale(0%) blur(0px) saturate(150%);
  }

  .projectTitle {
    @include text ($titleFontFamily, 20px, $mainTextColor);
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
  }

  .description {
    @include text ($textFontFamily, 18px, $secondTextColor);
    line-height: 1.8em;
  }
}











