@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.remoteBlock {
  background-color: $bgColor;

  .remoteContainer {
    @include container;
    flex-direction: column;
    text-align: center;
  }
}

