@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.remoteBlock {
  border: 1px solid white;
  //min-height: 30vh;
  background-color: $bgColor;

  .remoteContainer {
    @include container;
    flex-direction: column;
    text-align: center;
  }
}

