@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.projectsBlock {
  min-height: 100vh;
  border: 1px solid white;
  background-color: $bgColor;

  .projectsContainer {
    @include container;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      @media screen and (max-width: 755px) {
        justify-content: space-around;
      }
    }
  }
}

